In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_excel('FINAL ROUND 11-01-23.xlsx', sheet_name='0.18 UP-2')

:

In [ ]:
df

,RAP_INV_ID,Date,RapnetId,Company,Shape,Cts,Col,Clarity,Cut,Pol,...,MemberCommet,Comment,Ratio,CuletCond,CuletSize,DiamondId,StoneId,IsDelete,EntryDate,EntryBy
0,NaN,2023-01-11,113185,"HongKong Money King Jewelry Co., Ltd.",Round,0.50,H,VVS2,EX,EX,...,"wechat/phone:13302477350, 15976790180, in SH, ...",NaN,NaN,NaN,NaN,145811417,MBEK672310,NaN,NaN,NaN
1,NaN,2023-01-11,79216,KGK Diamonds Bvba,Round,0.50,H,VVS2,VG,VG,...,NaN,NaN,NaN,NaN,NaN,145697655,1597020,NaN,NaN,NaN
2,NaN,2023-01-11,114282,YuWen Jewelry,Round,0.50,H,VVS2,VG,EX,...,NaN,NaN,NaN,NaN,NaN,144979970,M445,NaN,NaN,NaN
3,NaN,2023-01-11,115145,Shenzhen Hao Stone,Round,0.50,H,VVS2,EX,EX,...,7.8000; NO BGM EYECLEAN phone:13066942521; w...,NaN,NaN,NaN,NaN,143410455,2397786093,NaN,NaN,NaN
4,NaN,2023-01-11,74841,VISHINDAS HOLARAM,Round,0.50,H,VVS2,EX,EX,...,NaN,NaN,NaN,NaN,NaN,143364893,1L-4580,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441150,NaN,2023-01-11,73373,KETAN BROTHERS DIAMONDZ EXPORTS,Round,0.95,F,SI2,F,EX,...,No BGM;B.Incl-C_ Light Black Center;B.Incl-S_ ...,NaN,NaN,NaN,NaN,142958878,AW1R7HB9,NaN,NaN,NaN
441151,NaN,2023-01-11,78198,HARDIK GEMS,Round,0.95,E,I1,VG,VG,...,NaN,NaN,NaN,NaN,NaN,123878187,J5445,NaN,NaN,NaN
441152,NaN,2023-01-11,51500,VENUS JEWEL,Round,0.95,E,VVS2,G,EX,...,No BGM; +91 8108705918 Ojash Shah. Email: oj...,NaN,NaN,NaN,NaN,144797707,88760115G,NaN,NaN,NaN
441153,NaN,2023-01-11,109149,Pranam Diamonds,Round,0.95,D,VS1,G,G,...,NaN,NaN,NaN,NaN,NaN,144143184,22149,NaN,NaN,NaN
441154,NaN,2023-01-11,103681,HM AND SONS DIAMOND MANUFACTURING PVT LTD.,Round,0.95,N,I3,G,G,...,"No Green,Net cash price.WhatsApp No.+918779650...",NaN,NaN,NaN,NaN,135872108,7604,NaN,NaN,NaN

In [ ]:
dff=df

In [ ]:
from pprint import pprint
def show_null_mean():
    null_percentages = (df.isnull().mean() * 100).round(2)
    null_percentages_list = [(col, null_percentages[col]) for col in df.columns]
    pprint(null_percentages_list)

In [ ]:
show_null_mean()

[('Date', 0.0),
 ('RapnetId', 0.0),
 ('Company', 0.0),
 ('Shape', 0.0),
 ('Cts', 0.0),
 ('Col', 0.0),
 ('Clarity', 0.0),
 ('Cut', 1.0),
 ('Pol', 0.53),
 ('Sym', 0.51),
 ('Fls', 0.63),
 ('Rap', 0.0),
 ('Disc', 0.0),
 ('PricePerCTS', 0.0),
 ('Amt', 0.0),
 ('Table', 0.83),
 ('TableDepth', 0.0),
 ('Report', 12.24),
 ('Lab', 2.33),
 ('LabComment', 11.45),
 ('Width', 0.0),
 ('Lenth', 0.0),
 ('Depth', 0.0),
 ('City', 25.43),
 ('Country', 0.93),
 ('GMin', 6.23),
 ('GMax', 6.72),
 ('GPerc', 0.0),
 ('GCondi', 10.45),
 ('PavAngle', 0.0),
 ('PavDepth', 0.0),
 ('CHeight', 0.0),
 ('CAngle', 0.0),
 ('Shade', 36.97),
 ('Milky', 27.61),
 ('EC', 70.08),
 ('SL', 11.46),
 ('LI', 7.85),
 ('KTS', 11.88),
 ('Inclu', 27.34),
 ('MemberCommet', 39.14),
 ('DiamondId', 0.0),
 ('StoneId', 0.79)]

In [ ]:
df.drop(['EntryBy', 'EntryDate', 'IsDelete', 'CuletSize', 'CuletCond', 'Ratio', 'Comment', 'RAP_INV_ID'], axis=1,inplace=True)
df

KeyError: "['EntryBy', 'EntryDate', 'IsDelete', 'CuletSize', 'CuletCond', 'Ratio', 'Comment', 'RAP_INV_ID'] not found in axis"

In [ ]:
show_null_mean()

[('Date', 0.0),
 ('RapnetId', 0.0),
 ('Company', 0.0),
 ('Shape', 0.0),
 ('Cts', 0.0),
 ('Col', 0.0),
 ('Clarity', 0.0),
 ('Cut', 1.0),
 ('Pol', 0.53),
 ('Sym', 0.51),
 ('Fls', 0.63),
 ('Rap', 0.0),
 ('Disc', 0.0),
 ('PricePerCTS', 0.0),
 ('Amt', 0.0),
 ('Table', 0.83),
 ('TableDepth', 0.0),
 ('Report', 12.24),
 ('Lab', 2.33),
 ('LabComment', 11.45),
 ('Width', 0.0),
 ('Lenth', 0.0),
 ('Depth', 0.0),
 ('City', 25.43),
 ('Country', 0.93),
 ('GMin', 6.23),
 ('GMax', 6.72),
 ('GPerc', 0.0),
 ('GCondi', 10.45),
 ('PavAngle', 0.0),
 ('PavDepth', 0.0),
 ('CHeight', 0.0),
 ('CAngle', 0.0),
 ('Shade', 36.97),
 ('Milky', 27.61),
 ('EC', 70.08),
 ('SL', 11.46),
 ('LI', 7.85),
 ('KTS', 11.88),
 ('Inclu', 27.34),
 ('MemberCommet', 39.14),
 ('DiamondId', 0.0),
 ('StoneId', 0.79)]

In [ ]:
df.fillna(value='None',inplace=True)

In [ ]:
show_null_mean()

[('Date', 0.0),
 ('RapnetId', 0.0),
 ('Company', 0.0),
 ('Shape', 0.0),
 ('Cts', 0.0),
 ('Col', 0.0),
 ('Clarity', 0.0),
 ('Cut', 0.0),
 ('Pol', 0.0),
 ('Sym', 0.0),
 ('Fls', 0.0),
 ('Rap', 0.0),
 ('Disc', 0.0),
 ('PricePerCTS', 0.0),
 ('Amt', 0.0),
 ('Table', 0.0),
 ('TableDepth', 0.0),
 ('Report', 0.0),
 ('Lab', 0.0),
 ('LabComment', 0.0),
 ('Width', 0.0),
 ('Lenth', 0.0),
 ('Depth', 0.0),
 ('City', 0.0),
 ('Country', 0.0),
 ('GMin', 0.0),
 ('GMax', 0.0),
 ('GPerc', 0.0),
 ('GCondi', 0.0),
 ('PavAngle', 0.0),
 ('PavDepth', 0.0),
 ('CHeight', 0.0),
 ('CAngle', 0.0),
 ('Shade', 0.0),
 ('Milky', 0.0),
 ('EC', 0.0),
 ('SL', 0.0),
 ('LI', 0.0),
 ('KTS', 0.0),
 ('Inclu', 0.0),
 ('MemberCommet', 0.0),
 ('DiamondId', 0.0),
 ('StoneId', 0.0)]

In [ ]:
df

,Date,RapnetId,Company,Shape,Cts,Col,Clarity,Cut,Pol,Sym,...,Shade,Milky,EC,SL,LI,KTS,Inclu,MemberCommet,DiamondId,StoneId
0,2023-01-11,113185,"HongKong Money King Jewelry Co., Ltd.",Round,0.50,H,VVS2,EX,EX,VG,...,None,None,None,50.0,GIA 7446745835,"Pinpoint, Natural, Feather",None,"wechat/phone:13302477350, 15976790180, in SH, ...",145811417,MBEK672310
1,2023-01-11,79216,KGK Diamonds Bvba,Round,0.50,H,VVS2,VG,VG,G,...,None,None,None,55.0,GIA 2446661213,"Indented Natural, Pinpoint",None,None,145697655,1597020
2,2023-01-11,114282,YuWen Jewelry,Round,0.50,H,VVS2,VG,EX,EX,...,None,None,None,50.0,GIA 7393685602,"Cloud, Pinpoint, Needle, Natural",No Milky.,None,144979970,M445
3,2023-01-11,115145,Shenzhen Hao Stone,Round,0.50,H,VVS2,EX,EX,EX,...,None,None,Yes,45.0,GIA 2397786093,"Cloud, Pinpoint, Feather",No Milky.,7.8000; NO BGM EYECLEAN phone:13066942521; w...,143410455,2397786093
4,2023-01-11,74841,VISHINDAS HOLARAM,Round,0.50,H,VVS2,EX,EX,EX,...,Brown,None,None,50.0,GIA 2447320278,"Cloud, Natural, Surface Graining",No black. No Milky.,None,143364893,1L-4580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441150,2023-01-11,73373,KETAN BROTHERS DIAMONDZ EXPORTS,Round,0.95,F,SI2,F,EX,VG,...,None,None,Borderline,None,HRD 220000120518,None,No Open. No Milky.,No BGM;B.Incl-C_ Light Black Center;B.Incl-S_ ...,142958878,AW1R7HB9
441151,2023-01-11,78198,HARDIK GEMS,Round,0.95,E,I1,VG,VG,VG,...,None,None,None,None,None,None,None,None,123878187,J5445
441152,2023-01-11,51500,VENUS JEWEL,Round,0.95,E,VVS2,G,EX,EX,...,None,None,None,55.0,GIA 1226431150,"Pinpoint, Indented Natural",No black. No Milky.,No BGM; +91 8108705918 Ojash Shah. Email: oj...,144797707,88760115G
441153,2023-01-11,109149,Pranam Diamonds,Round,0.95,D,VS1,G,G,G,...,None,None,Yes,None,None,None,No Milky.,None,144143184,22149
441154,2023-01-11,103681,HM AND SONS DIAMOND MANUFACTURING PVT LTD.,Round,0.95,N,I3,G,G,G,...,Brown,None,None,50.0,None,None,None,"No Green,Net cash price.WhatsApp No.+918779650...",135872108,7604

In [ ]:
df['Milky'].unique()

array(['None', 'Light', 'Medium', 'Heavy'], dtype=object)

In [ ]:
df['Shade'].unique()

array(['None', 'Brown', 'Green', 'Mixed', 'Yellow', 'Other', 'Grey',
       'Very Light Brown', 'Light Brown', 'Faint Green', 'Faint Brown',
       'Pink', 'Black', 'Blue'], dtype=object)

In [ ]:
df['Shade'].describe()

count     441155
unique        14
top         None
freq      421027
Name: Shade, dtype: object

In [ ]:
df['City'].unique()

array(['Shanghai', 'None', 'Shenzhen', 'Mumbai', 'New York', 'Hong Kong',
       'SURAT', 'Kowloon', 'New Delhi', 'Dubai', 'Antwerp', 'China',
       'London', 'Los Angeles', 'Dallas', 'San Francisco', 'Chicago',
       'Rochester', 'Chennai', 'Ramat Gan', 'Scottsdale', 'Houston',
       'Amsterdam', 'Atlanta', 'Bangkok', 'Brisbane', 'Lafayette',
       'Philadelphia', 'Singapore', 'Pittsburgh', 'Birmingham', 'Milan',
       'milano', 'Novi', 'Hyderabad', 'Cleveland', 'TORONTO', 'Tempe',
       'Tsim Sha Tsui', 'Marcianise', 'Minneapolis', 'Denver',
       'Boca Raton', 'Tucker', 'Aventura', 'Bangalore', 'Bombay',
       'Johannesburg', 'SAN DIEGO', 'Greenbay', 'Morris Plains', 'Miami',
       'Beverly hills', 'Boston', 'Greensboro', 'Kolkata', 'Phoenix',
       'Cincinnati', 'Charlotte', 'Vancouver', 'Brentwood', 'Fort Lee',
       'JAIPUR', 'Great Neck', 'Burlington', 'Brooklyn', 'Beachwood',
       'Exeter', 'Belleville', 'Vicenza', 'Baltimore', 'Tokyo', 'TAMPA',
       'Fairview Heights', 'Austin', 'Sydney', 'Ft Lauderdale', 'Clayton',
       'WALNUT CREEK', 'St Louis', 'Rockville', 'Leawood',
       'St Petersburg', 'Provo', 'Hartsdale', 'Melbourne', 'Sarasota',
       'Plano'], dtype=object)

In [ ]:
df['City'].describe()

count     441155
unique        88
top       Mumbai
freq      177288
Name: City, dtype: object

In [ ]:
df['Sym'].unique()

array(['VG', 'G', 'EX', 'P', 'None', 'F', 'I', 'VG-EX', 'G-VG', 'F-G'],
      dtype=object)

In [ ]:
df['Sym'].describe()

count     441155
unique        10
top           EX
freq      301735
Name: Sym, dtype: object

In [ ]:
keep = df.drop_duplicates()
keep

,Date,RapnetId,Company,Shape,Cts,Col,Clarity,Cut,Pol,Sym,...,Shade,Milky,EC,SL,LI,KTS,Inclu,MemberCommet,DiamondId,StoneId
0,2023-01-11,113185,"HongKong Money King Jewelry Co., Ltd.",Round,0.50,H,VVS2,EX,EX,VG,...,None,None,None,50.0,GIA 7446745835,"Pinpoint, Natural, Feather",None,"wechat/phone:13302477350, 15976790180, in SH, ...",145811417,MBEK672310
1,2023-01-11,79216,KGK Diamonds Bvba,Round,0.50,H,VVS2,VG,VG,G,...,None,None,None,55.0,GIA 2446661213,"Indented Natural, Pinpoint",None,None,145697655,1597020
2,2023-01-11,114282,YuWen Jewelry,Round,0.50,H,VVS2,VG,EX,EX,...,None,None,None,50.0,GIA 7393685602,"Cloud, Pinpoint, Needle, Natural",No Milky.,None,144979970,M445
3,2023-01-11,115145,Shenzhen Hao Stone,Round,0.50,H,VVS2,EX,EX,EX,...,None,None,Yes,45.0,GIA 2397786093,"Cloud, Pinpoint, Feather",No Milky.,7.8000; NO BGM EYECLEAN phone:13066942521; w...,143410455,2397786093
4,2023-01-11,74841,VISHINDAS HOLARAM,Round,0.50,H,VVS2,EX,EX,EX,...,Brown,None,None,50.0,GIA 2447320278,"Cloud, Natural, Surface Graining",No black. No Milky.,None,143364893,1L-4580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441150,2023-01-11,73373,KETAN BROTHERS DIAMONDZ EXPORTS,Round,0.95,F,SI2,F,EX,VG,...,None,None,Borderline,None,HRD 220000120518,None,No Open. No Milky.,No BGM;B.Incl-C_ Light Black Center;B.Incl-S_ ...,142958878,AW1R7HB9
441151,2023-01-11,78198,HARDIK GEMS,Round,0.95,E,I1,VG,VG,VG,...,None,None,None,None,None,None,None,None,123878187,J5445
441152,2023-01-11,51500,VENUS JEWEL,Round,0.95,E,VVS2,G,EX,EX,...,None,None,None,55.0,GIA 1226431150,"Pinpoint, Indented Natural",No black. No Milky.,No BGM; +91 8108705918 Ojash Shah. Email: oj...,144797707,88760115G
441153,2023-01-11,109149,Pranam Diamonds,Round,0.95,D,VS1,G,G,G,...,None,None,Yes,None,None,None,No Milky.,None,144143184,22149
441154,2023-01-11,103681,HM AND SONS DIAMOND MANUFACTURING PVT LTD.,Round,0.95,N,I3,G,G,G,...,Brown,None,None,50.0,None,None,None,"No Green,Net cash price.WhatsApp No.+918779650...",135872108,7604

In [ ]:
columns_to_keep = [ 'Cts', 'Col','Clarity','Cut','Pol', 'Sym', 'Fls']
orignal_keep=keep
keep = keep[columns_to_keep]
keep

         Cts Col Clarity Cut Pol Sym  Fls
0       0.50   H    VVS2  EX  EX  VG    N
1       0.50   H    VVS2  VG  VG   G    F
2       0.50   H    VVS2  VG  EX  EX    N
3       0.50   H    VVS2  EX  EX  EX    F
4       0.50   H    VVS2  EX  EX  EX    M
...      ...  ..     ...  ..  ..  ..  ...
441150  0.95   F     SI2   F  EX  VG    N
441151  0.95   E      I1  VG  VG  VG  VSL
441152  0.95   E    VVS2   G  EX  EX    M
441153  0.95   D     VS1   G   G   G    N
441154  0.95   N      I3   G   G   G    M

[441155 rows x 7 columns]

In [ ]:
orignal_keep

,Date,RapnetId,Company,Shape,Cts,Col,Clarity,Cut,Pol,Sym,...,Shade,Milky,EC,SL,LI,KTS,Inclu,MemberCommet,DiamondId,StoneId
0,2023-01-11,113185,"HongKong Money King Jewelry Co., Ltd.",Round,0.50,H,VVS2,EX,EX,VG,...,None,None,None,50.0,GIA 7446745835,"Pinpoint, Natural, Feather",None,"wechat/phone:13302477350, 15976790180, in SH, ...",145811417,MBEK672310
1,2023-01-11,79216,KGK Diamonds Bvba,Round,0.50,H,VVS2,VG,VG,G,...,None,None,None,55.0,GIA 2446661213,"Indented Natural, Pinpoint",None,None,145697655,1597020
2,2023-01-11,114282,YuWen Jewelry,Round,0.50,H,VVS2,VG,EX,EX,...,None,None,None,50.0,GIA 7393685602,"Cloud, Pinpoint, Needle, Natural",No Milky.,None,144979970,M445
3,2023-01-11,115145,Shenzhen Hao Stone,Round,0.50,H,VVS2,EX,EX,EX,...,None,None,Yes,45.0,GIA 2397786093,"Cloud, Pinpoint, Feather",No Milky.,7.8000; NO BGM EYECLEAN phone:13066942521; w...,143410455,2397786093
4,2023-01-11,74841,VISHINDAS HOLARAM,Round,0.50,H,VVS2,EX,EX,EX,...,Brown,None,None,50.0,GIA 2447320278,"Cloud, Natural, Surface Graining",No black. No Milky.,None,143364893,1L-4580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441150,2023-01-11,73373,KETAN BROTHERS DIAMONDZ EXPORTS,Round,0.95,F,SI2,F,EX,VG,...,None,None,Borderline,None,HRD 220000120518,None,No Open. No Milky.,No BGM;B.Incl-C_ Light Black Center;B.Incl-S_ ...,142958878,AW1R7HB9
441151,2023-01-11,78198,HARDIK GEMS,Round,0.95,E,I1,VG,VG,VG,...,None,None,None,None,None,None,None,None,123878187,J5445
441152,2023-01-11,51500,VENUS JEWEL,Round,0.95,E,VVS2,G,EX,EX,...,None,None,None,55.0,GIA 1226431150,"Pinpoint, Indented Natural",No black. No Milky.,No BGM; +91 8108705918 Ojash Shah. Email: oj...,144797707,88760115G
441153,2023-01-11,109149,Pranam Diamonds,Round,0.95,D,VS1,G,G,G,...,None,None,Yes,None,None,None,No Milky.,None,144143184,22149
441154,2023-01-11,103681,HM AND SONS DIAMOND MANUFACTURING PVT LTD.,Round,0.95,N,I3,G,G,G,...,Brown,None,None,50.0,None,None,None,"No Green,Net cash price.WhatsApp No.+918779650...",135872108,7604

In [ ]:
unique_df=keep.drop_duplicates()
unique_df

         Cts Col Clarity Cut Pol Sym  Fls
0       0.50   H    VVS2  EX  EX  VG    N
1       0.50   H    VVS2  VG  VG   G    F
2       0.50   H    VVS2  VG  EX  EX    N
3       0.50   H    VVS2  EX  EX  EX    F
4       0.50   H    VVS2  EX  EX  EX    M
...      ...  ..     ...  ..  ..  ..  ...
441150  0.95   F     SI2   F  EX  VG    N
441151  0.95   E      I1  VG  VG  VG  VSL
441152  0.95   E    VVS2   G  EX  EX    M
441153  0.95   D     VS1   G   G   G    N
441154  0.95   N      I3   G   G   G    M

[59380 rows x 7 columns]

In [ ]:
# count the number of occurrences of each unique row in keep DataFrame
counts = keep.groupby(list(keep.columns)).size().reset_index(name='Count')
# merge counts back to unique_df
unique_df = unique_df.merge(counts, on=list(keep.columns), how='left')

In [ ]:
#dataframe showing all unique diamond configurations
unique_df = unique_df.sort_values(by='Count', ascending=False)
unique_df

        Cts Col Clarity Cut Pol Sym Fls  Count
5232   0.50   G     SI1  EX  EX  EX   N   2194
507    0.50   E     SI1  EX  EX  EX   N   1803
541    0.50   E     VS2  EX  EX  EX   N   1591
5206   0.50   G     VS2  EX  EX  EX   N   1388
5208   0.50   G     SI2  EX  EX  EX   N   1319
...     ...  ..     ...  ..  ..  ..  ..    ...
27118  0.64   H     VS2   G   G   G   N      1
27119  0.64   D     VS1  VG  VG  VG   F      1
27120  0.64   H     VS2  EX  EX  VG   N      1
27121  0.64   M     SI1  VG  VG  EX   N      1
59379  0.95   N      I3   G   G   G   M      1

[59380 rows x 8 columns]

In [ ]:
# function will going to return a dataframe which will include all the occurences of same diamond config
def show_Count_details(i):
    top_unique_df=unique_df.iloc[i]
    mask = (orignal_keep.Cts == top_unique_df.Cts) & (orignal_keep.Col == top_unique_df.Col) & (orignal_keep.Clarity == top_unique_df.Clarity) & (orignal_keep.Cut == top_unique_df.Cut) & (orignal_keep.Pol == top_unique_df.Pol) & (orignal_keep.Sym == top_unique_df.Sym) & (orignal_keep.Fls == top_unique_df.Fls) #& (orignal_keep.Amt == top_unique_df.Amt)
    return orignal_keep[mask]

In [ ]:
res=show_Count_details(0)
columns_to_keep = ['Company','Amt', 'Cts', 'Col','Clarity','Cut','Pol', 'Sym', 'Fls']
res=res[columns_to_keep]
res=res.sort_values(by='Company', ascending=False)
res

,Company,Amt,Cts,Col,Clarity,Cut,Pol,Sym,Fls
82854,Zlayet and Sons,1275.000,0.5,G,SI1,EX,EX,EX,N
95595,ZhouJiaFu Jewelry,901.170,0.5,G,SI1,EX,EX,EX,N
95590,ZhouJiaFu Jewelry,901.015,0.5,G,SI1,EX,EX,EX,N
95598,ZhouJiaFu Jewelry,901.170,0.5,G,SI1,EX,EX,EX,N
95597,ZhouJiaFu Jewelry,901.170,0.5,G,SI1,EX,EX,EX,N
...,...,...,...,...,...,...,...,...,...
92765,"3Ex Diamond (Hongkong) Co., Limited",940.500,0.5,G,SI1,EX,EX,EX,N
84932,"3Ex Diamond (Hongkong) Co., Limited",1090.500,0.5,G,SI1,EX,EX,EX,N
84636,"3Ex Diamond (Hongkong) Co., Limited",1106.500,0.5,G,SI1,EX,EX,EX,N
93351,"3Ex Diamond (Hongkong) Co., Limited",931.000,0.5,G,SI1,EX,EX,EX,N
92394,"3Ex Diamond (Hongkong) Co., Limited",948.500,0.5,G,SI1,EX,EX,EX,N

In [ ]:
# no of companies which produces given config diamonds
res['Company'].nunique()
# Average price of specified dimond produced by each company who make them.
res[['Company','Amt']].groupby(['Company']).mean()

288

                                             Amt
Company
3Ex Diamond (Hongkong) Co., Limited  1026.500000
4STAR DIAMOND                         882.000000
777 DIAMOND DMCC                      937.750000
A J MEHTA & CO LLP                    992.000000
A. Glam Inc                           720.750000
...                                          ...
Yong Ming Fu Diamond Store           1039.500000
Zhejiang Jin Tao Jewelry Co., Ltd.   1028.103448
ZhiXing Jewelry                       996.797500
ZhouJiaFu Jewelry                     899.684583
Zlayet and Sons                      1275.000000

[288 rows x 1 columns]